useDynLib(stl3)
export(fc)
S3method(fitted, stl)
S3method(fitted, stl3)
export(getraw)
export(plot.cycle)
export(plot.rembycycle)
export(plot.seasonal)
S3method(plot, stl3)
export(plot.trend)
S3method(predict, stl)
S3method(predict, stl3)
export(remainder)
export(remainder.stl)
export(remainder.stl3)
export(seasonal.stl)
export(seasonal.stl3)
export(stl3)
S3method(stl3, default)
S3method(stl3, ts)
S3method(time, stl)
S3method(time, stl3)
export(trend.stl)
export(trend.stl3)
